In [3]:

from flask_sqlalchemy import SQLAlchemy 
import sqlalchemy as db
import pandas as pd

In [7]:
#https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_creating_table.htm
#https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/
#https://docs.sqlalchemy.org/en/14/core/engines.html#postgresql
#Most Important
#https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91
#https://realpython.com/python-sqlite-sqlalchemy/
#https://docs.sqlalchemy.org/en/14/core/metadata.html

In [4]:

# creating database

engine = db.create_engine('sqlite:///Employ.db')
conn = engine.connect()
meta = db.MetaData()

emp = db.Table('emp', meta,
db.Column('Id', db.Integer()),
db.Column('name', db.String(255), nullable=False),
db.Column('salary', db.Float(), default=100.0),
db.Column('active', db.Boolean(), default=True)
)

meta.create_all(engine) #Creates the table

In [6]:
#Inserting element one by one
query = db.insert(emp).values(Id = 1, name = 'krishnendu',salary = 66000.34,active= True)
ResultProxy = conn.execute(query)

In [8]:
#insering elements in a group
query = db.insert(emp)
value_list = [{'Id':2,'name':'Rohit Sharma','salary': 4534.290,'active':False},
              {'Id':3,'name':'Samridhi Barman','salary': 4999.33,'active':False},
              {'Id':4,'name':'sankar Pandey','salary': 290129.21,'active':False}]
ResultProxy = conn.execute(query,value_list)

In [28]:
# printing results using pandas

results = conn.execute(db.select([emp])).fetchall()  # fetchall() gives list to work with
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(4)

   Id             name       salary  active
0   1       krishnendu   66000.3400    True
1   3  Samridhi Barman  122000.3453   False
2   4    sankar Pandey  290129.2100   False

In [25]:

# updating values in database

query = db.update(emp).values(salary = 122000.3453).where(emp.columns.Id==3)
result =conn.execute(query)

# after updating you can run the above shell to view results

In [29]:
# deleting values 

query = db.delete(emp).where(emp.columns.salary  < 10000.00) # after this operation rahul will be deleted
conn.execute(query)

In [35]:
query = db.select(emp)
result = conn.execute(query).fetchall()
print(result)

[(1, 'krishnendu', 66000.34, True), (3, 'Samridhi Barman', 122000.3453, False), (4, 'sankar Pandey', 290129.21, False)]

In [36]:
# exploring metadata

meta.tables['emp']

Table('emp', MetaData(), Column('Id', Integer(), table=<emp>), Column('name', String(length=255), table=<emp>, nullable=False), Column('salary', Float(), table=<emp>, default=ColumnDefault(100.0)), Column('active', Boolean(), table=<emp>, default=ColumnDefault(True)), schema=None)

In [39]:
class dog(object):
    
    name =""
    def __init__(self,name) -> None:
        self.name = name
        
    def printdetails(self):
        print("My name is {self.name}".format(self = self))

    def __repr__(self) -> str:
        return '<dog  %r>' %self.name

mydog = dog('judo')
mydog.printdetails()
mydog  # this will call __repr__   known as (dunder)

My name is judo