In [55]:
import sqlalchemy as db
import pandas as pd
import sqlite3
import csv

In [56]:
engine = db.create_engine('sqlite:///Students.db') 
conn = engine.connect()
meta = db.MetaData()

meta.create_all(engine)

# database is created

In [57]:
data = pd.read_csv('/Users/krishnendudakshi/python programming/course/web app learning/students.csv')
df = pd.DataFrame(data)
print(df)

     Id               Name    phone_num                    email_id  \
0  #123  krishnendu Dakshi  78234898172           kdakshi@gmail.com
1  #124       Rohit sharma  12412341324     rohitsharma34@gmail.com
2  #125     Sudipta Sharma  12341241134      sudipta123@outlook.com
3  #128          Rahul Das  32412341341      Rahuldas2002@yahoo.com
4  #126       sunny Dakshi  41234134413  sunnydakshi2021@icloud.com
5  #129          Puja saha  43241232434       pujaSaha190@gmail.com
6  #130      Puja karmakat   2342421132    pujaKarmakar@hotmail.com

                                 address  active  \
0                   S.R.B road,maharasta       1
1                 J.D.B street,Rajasthan       1
2                     parkar collony,U.P       0
3           Maher bazar road,West Bengal       0
4  chunuripara,sri nagar janata road,W.B       1
5            Mahatma gandhi road,kolkata       0
6            deshbandhu park,kolkata,W.B       0

                             college
0  kalyani Govt. engineering college
1  kalyani Govt. engineering college
2               mahato govt. college
3  kalyani Govt. engineering college
4                jadavpur university
5               mahato govt. college
6  kalyani Govt. engineering college

In [58]:
for row in df:
    print(row)

Id
Name
phone_num
email_id
address
active
college

In [59]:
print(df[['Id','Name']])

     Id               Name
0  #123  krishnendu Dakshi
1  #124       Rohit sharma
2  #125     Sudipta Sharma
3  #128          Rahul Das
4  #126       sunny Dakshi
5  #129          Puja saha
6  #130      Puja karmakat

In [60]:
print(df[['Id','Name']])

     Id               Name
0  #123  krishnendu Dakshi
1  #124       Rohit sharma
2  #125     Sudipta Sharma
3  #128          Rahul Das
4  #126       sunny Dakshi
5  #129          Puja saha
6  #130      Puja karmakat

In [63]:
conn = sqlite3.connect('Students.db')
curr = conn.cursor()

fh = open('students.csv')
rows = csv.reader(fh)
# this line will read all data from the row and write in table

# curr.executemany("INSERT INTO Student_details VALUES (? , ?,?,?,?,?,?)", rows)

conn.commit()

In [73]:
# when we wnat to access to an existing database

from sqlalchemy import inspect

engine = db.create_engine('sqlite:///Students.db')
# print(engine.table_names()) # this will give all the tables currently present in the database
# [NOTE]: please don't use  engine.table_names() , it will be depreated in future

# so we are using inspect

Inspector = inspect(engine)
print(Inspector.get_table_names())

['Student_details', 'student']

In [75]:
#https://youtu.be/i35OSGXt7wk

# once we now on which we want work

# we will use Reflection

# we want to work on Student_details
from sqlalchemy import Table, MetaData
metadata = MetaData()
Student_details = Table('Student_details',metadata, autoload=True,autoload_with=engine)

# print(repr(Student_details))    # this will print details of the table




# Now we can insert or delete into the table

Table('Student_details', MetaData(), Column('Id', NullType(), table=<Student_details>, primary_key=True, nullable=False), Column('Name', TEXT(), table=<Student_details>, nullable=False), Column('phone_num', NullType(), table=<Student_details>, nullable=False), Column('email_id', TEXT(), table=<Student_details>, nullable=False), Column('address', TEXT(), table=<Student_details>, nullable=False), Column('active', NullType(), table=<Student_details>, nullable=False), Column('college', TEXT(), table=<Student_details>, nullable=False), schema=None)

In [76]:

# these segment of code will delete that extra row we don't need after getting data from the .csv file

query = db.delete(Student_details).where(Student_details.columns.Id == 'Id')
conn.execute(query)

In [79]:
fh = open('students.csv')
rows = csv.reader(fh)

for line in rows:
    print(line)
    
    
# executemany() will read all these list stored in rows

['Id', 'Name', 'phone_num', 'email_id', 'address', 'active', 'college']
['#123', 'krishnendu Dakshi', '78234898172', 'kdakshi@gmail.com', 'S.R.B road,maharasta', '1', 'kalyani Govt. engineering college']
['#124', 'Rohit sharma', '12412341324', 'rohitsharma34@gmail.com', 'J.D.B street,Rajasthan', '1', 'kalyani Govt. engineering college']
['#125', 'Sudipta Sharma', '12341241134', 'sudipta123@outlook.com', 'parkar collony,U.P', '0', 'mahato govt. college']
['#128', 'Rahul Das', '32412341341', 'Rahuldas2002@yahoo.com', 'Maher bazar road,West Bengal', '0', 'kalyani Govt. engineering college']
['#126', 'sunny Dakshi', '41234134413', 'sunnydakshi2021@icloud.com', 'chunuripara,sri nagar janata road,W.B', '1', 'jadavpur university']
['#129', 'Puja saha', '43241232434', 'pujaSaha190@gmail.com', 'Mahatma gandhi road,kolkata', '0', 'mahato govt. college']
['#130', 'Puja karmakat', '2342421132', 'pujaKarmakar@hotmail.com', 'deshbandhu park,kolkata,W.B', '0', 'kalyani Govt. engineering college']