# Welcome to jupyter and numpy tutorials3

In [2]:
import numpy as np
myarr= np.array([3,6,74544445,9],np.int8) # int8 for smaller interger, we can use int64,int32,int16
#if we add large number when using int8 then it will through an error
print(myarr)

[ 3  6 61  9]

In [3]:
print(myarr[1])

6

In [4]:
myarr2D = np.array([[3,5,6,7]]) # it is a 2d array of 1 row and 4 column
print(myarr2D[0,3])

7

In [7]:
myarr2D.shape

(1, 4)

In [8]:
myarr.dtype

dtype('int8')

# Array creation from other python structures

In [ ]:
listarr = np.array([[1,2,4],[3,4,5]])

In [19]:
print(listarr[0,1])

NameError: name 'listarr' is not defined

In [16]:
print(myarr[0])

3

In [20]:
print(listarr[0,2])

NameError: name 'listarr' is not defined

In [22]:
import pandas as pd
import numpy as np

In [21]:
dic = {"name":["krishnendu","sunny","rohan","rahul","sriti","Geeta"],"salary":[1000,1001,1002,1003,1004,1005]
       ,"city":['ranaghat','kolkata','beherampur','bongaon','howrah','hoogly']}

In [23]:
df = pd.DataFrame(dic)

In [24]:
df

         name  salary        city
0  krishnendu    1000    ranaghat
1       sunny    1001     kolkata
2       rohan    1002  beherampur
3       rahul    1003     bongaon
4       sriti    1004      howrah
5       Geeta    1005      hoogly